.git
.idea
.npm
.nvm
.cache

node_modules

.wget-hsts

data
config.json
json.sqlite

Test/*

data.json
restart.json
install.sh
test.js
package-lock.json
.bashrc
bot/discord/commands/status.js
bot/discord/transcripts
neofetch/
inxi
start.sh
